<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:webflow-config="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/security 
       http://www.springframework.org/schema/security/spring-security.xsd
       http://www.springframework.org/schema/webflow-config 
        http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd"
	xmlns:context="http://www.springframework.org/schema/context">

	<!-- database properties DataSource -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.cj.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://remotemysql.com:3306/iMIuEwHYH8" />
		<property name="username" value="iMIuEwHYH8" />
		<property name="password" value="QXFKvh2Ni9" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- dependency Injection of dataSource -->
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>

		<!-- packages to scan for Entity Classes annotated Classes package -->
		<property name="annotatedClasses">
			<list>
				<value>com.capgemini.go.dto.CartDTO</value>
				<value>com.capgemini.go.dto.OrderCancelDTO</value>
				<value>com.capgemini.go.dto.OrderDTO</value>
				<value>com.capgemini.go.dto.OrderProductMapDTO</value>
				<value>com.capgemini.go.dto.ProductDTO</value>
				<value>com.capgemini.go.dto.ProductIdentityDTO</value>
				<value>com.capgemini.go.dto.ProductUINMapDTO</value>
				<value>com.capgemini.go.dto.RetailerInventoryDTO</value>
				<value>com.capgemini.go.dto.SalesRepDTO</value>
				<value>com.capgemini.go.dto.UserDTO</value>
				<value>com.capgemini.go.dto.ViewDetailedSalesReportByProductDTO
				</value>
				<value>com.capgemini.go.dto.ViewSalesReportByUserDTO</value>
				<value>com.capgemini.go.dto.WishlistDTO</value>
			</list>
		</property>
	</bean>

	<!-- A transaction manager is the part of an application that is responsible 
		for coordinating transactions across one or more resources. In the Spring 
		framework, the transaction manager is effectively the root of the transaction 
		system. -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>